.search_box{width:1004px; margin:0 auto; border:1px solid #dbdbdb; background:#fff;font-size:12px; overflow:hidden;}
.search_box .selbox h5{float:left;width:50px; padding-left:28px;font-size:12px; font-weight:normal; line-height:32px; color:#000;}
.search_box .selbox ul{float:left;width:880px;}
.search_box .selbox ul li{float:left; line-height:32px;}
.search_box .selbox ul li a{ color:#23aacc; text-decoration:none; padding:4px 8px;}
.search_box .selbox ul li a em{ color:#8e8e8e;font-size:12px; margin-left:2px; font-family:Arial, Helvetica, sans-serif;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search_box .selbox ul li a em{display:inline-block;-webkit-transform:scale(0.875);font-size: 12px;}
}
.search_box .selbox ul li a:hover{ background:#f0f0f0;}
.search_box .selbox ul li a.on{ background:#23aacc; color:#fff;}
.search_box .selbox ul li a.on em{color:#fff;}
.search_box .selbox .unfold ul{margin-left:75px; padding:5px 2px; background:#f7f7f7; margin-bottom:10px;}
.search_box .selbox .unfold ul li{ line-height:30px;}

.search_box .hotbox{background:url(../images/t_nav_bg.gif) repeat-x 0 0; height:32px; padding:0 15px; width:974px; border-bottom:1px solid #dbdbdb;}
.search_box .hotbox h5{ padding-left:5px; width:60px;}
.search_box .hotbox ul{ margin-left:13px;}
.search_box .hotbox ul li{margin-right:10px;}
.search_box .hotbox ul li a{color:#23aacc; text-decoration:none;}
.search_box .hotbox ul li a:hover{ background:#f0f0f0;}

.search_box .sortbox{ line-height:30px;padding:2px 15px; width:974px; border-bottom:1px solid #ddd;}
.search_box .sortbox h5{background:url(../images/icon_sortbox.gif) no-repeat 0 center;}

.search_box .areabox{line-height:30px; padding:2px 15px; width:974px; border-bottom:1px solid #ddd;}
.search_box .areabox h5{background:url(../images/icon_areabox.gif) no-repeat 0 center;}
.search_box .sortbox ul li,.search_box .areabox ul li{ margin-right:10px;}

.search_box .resultbox{background:#fafafa; height:40px;}
	.resultbox h5{float:left;width:50px; padding-left:28px;font-size:12px; font-weight:normal; line-height:40px; color:#000; text-align:right;}
	.resultbox .order{ float:left;margin:8px 0 0 14px;}
	.resultbox .order a{ text-decoration:none;}
	.resultbox .order a.default{border:1px solid #bcbcbc;display:inline-block;color:#585858; height:24px; line-height:24px; background:#fff;padding:0 11px;}
	.resultbox .order a.default:hover,.resultbox .order a.default_on{border:1px solid #0b72a4;display:inline-block;color:#585858; height:24px; line-height:24px; background:#fff;padding:0 11px;}
	.resultbox .order a.sales{border:1px solid #bcbcbc;display:inline-block;color:#585858; height:24px; line-height:24px;padding:0 25px 0 11px;background:#fff url(../images/icon_down.gif) no-repeat 41px 8px; border-left:none; border-right:none;}
	.resultbox .order a.sales_on,.resultbox .order a.sales:hover{border:1px solid #0b72a4;display:inline-block;color:#585858; height:24px; line-height:24px;padding:0 24px 0 10px;background:#fff url(../images/icon_down_on.gif) no-repeat 40px 8px;z-index:999;}
	.resultbox .order a.discount{border:1px solid #bcbcbc;display:inline-block;color:#585858; height:24px; line-height:24px;padding:0 25px 0 11px;background:#fff url(../images/icon_down.gif) no-repeat 41px 8px;}
	.resultbox .order a.discount_on,.resultbox .order a.discount:hover{border:1px solid #0b72a4;display:inline-block;color:#585858; height:24px; line-height:24px;padding:0 25px 0 11px;background:#fff url(../images/icon_down_on.gif) no-repeat 41px 8px;z-index:999;}

.t_deal{width:760px;overflow:hidden;}
.t_deal ul{width:760px;}
.t_deal ul li{ float:left; margin:0 22px 20px 0; width:322px; background:#fff; border:1px solid #e8e8e8; padding:15px 17px; position:relative; font-family:"΢���ź�";}
.deal_outer .deal_new{ position:absolute; background:url(../images/icon_new.gif) no-repeat 0 0; width:43px; height:29px; top:0; left:0px; }
.deal_outer .deal_img{width:320px; height:195px;overflow:hidden; margin-bottom:10px;}
.deal_outer .deal_img img{width:320px; height:195px;}
.deal_outer h2 a{ color:#000;}
.deal_outer h3{ width:320px; height:75px; overflow:hidden;}
.deal_outer h3,.deal_outer h3 a{ color:#585858; font-weight:normal;}
.deal_outer h2 a:hover,.deal_outer h3 a:hover{ color:#0b72a4; text-decoration:none;}

.deal_price{height:35px;overflow:hidden;width:320px;margin:10px auto 0;}
.deal_price .price{float:left;font-size:32px; line-height:32px;color:#ff3355;}
.deal_price .price em{font-size:20px;padding-right:4px;}
.deal_price .price .value{font-size:12px;color:#8e8e8e;}
.deal_price .value em{font-size:12px;padding:0 0 0 4px;}
.deal_price .price .symbol {padding-right: 4px;}
.deal_price .value .symbol{font-size: 12px;padding: 0 0 0 4px;}
.deal_price .deal_btn{float:right;margin-top:5px;}

.deal_price .deal_btn .go{display:block;width:84px;height:33px;line-height:100px;overflow:hidden; background:url(../images/i_btn_buy.png) no-repeat 0 0; margin-top:-5px;}
.deal_price .deal_btn .go:hover{background-position:0 -38px;}
.deal_price .deal_btn .go.sell-out{background-position:-333px -66px;}
.deal_price .deal_btn .go.sell-out:hover{background-position:-333px -66px;}
.deal_people{overflow:hidden;line-height:12px;height:30px;width:286px;margin:0 auto;}
.deal_people{color:#ff667f;}
.deal_people .num{color: #ff667f;font-weight: bold;}
.deal_people .people{margin-top:9px;padding-left:18px;float:right; background:url(../images/icon_people.gif) no-repeat 0 center;color:#8e8e8e;}

.t_side{width:242px; overflow:hidden;}
.t_side .s1{ border:1px solid #eaeaea; width:240px; height:130px; margin-bottom:15px;}
.t_side .s2{ border:1px solid #eaeaea; width:240px; height:130px; margin-bottom:15px;}
.t_side .s3{ border:1px solid #eaeaea; width:240px; height:124px; margin-bottom:15px;}
.t_side .t_side_hot{border:1px solid #eaeaea; width:240px; background:#fff;}
.t_side .t_side_hot .t_side_hot_tit{background:url(../images/t_side_hot.gif) no-repeat 0 0;width:240px; height:35px;}
.t_side .t_side_hot ul{ border-top:1px solid #eaeaea; padding:6px 15px; width:210px;}
.t_side .t_side_hot ul li{ border-bottom:1px solid #eaeaea;}
.t_side .t_side_hot ul li h5{padding:10px 0 10px 15px; font-weight:normal; color:#595959; line-height:20px; font-size:14px;}
.t_side .t_side_hot ul li h5 a{color:#595959;}
.t_side .t_side_hot ul li h5.num1{background:url(../images/num1.gif) no-repeat 0 12px;}
.t_side .t_side_hot ul li h5.num2{background:url(../images/num2.gif) no-repeat 0 12px;}
.t_side .t_side_hot ul li h5.num3{background:url(../images/num3.gif) no-repeat 0 12px;}
.t_side .t_side_hot ul li h5.num4{background:url(../images/num4.gif) no-repeat 0 12px;}
.t_side .t_side_hot ul li .t_side_hot_img {float:left; }
.t_side .t_side_hot ul li .t_side_hot_img img{ width:130px; height:79px;}
.t_side .t_side_hot ul li .t_side_hot_con {float:right; text-align:right; line-height:26px; padding-bottom:15px;}
.t_side .t_side_hot ul li .t_side_hot_con p.price{ color:#ff4e8a; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.t_side .t_side_hot ul li .t_side_hot_con p.num span{ color:#ff4e8a;}
.t_side .t_side_hot ul li.nobt{border-bottom:none;}

.position{color:#5b5b5b; width:1004px; margin:0 auto;}
.position a{color:#5b5b5b;}

.tx_deal{width:743px;}
.tx_deal .tx_a{ width:691px; padding:15px 25px 35px; border:1px solid #d6d6d6; border-bottom:none; background:#fff;}
.tx_deal .tx_a h1{ color:#333; font-family:"΢���ź�"; font-size:30px; line-height:45px;}
.tx_deal .tx_a h2{ color:#777;font-family:"΢���ź�"; font-size:20px;line-height:30px; margin-bottom:20px;}
.tx_deal .tx_a_l{float:left;height:280px;}
.tx_a_price{background:url(../images/tx_price.gif) no-repeat 0 0; width:180px; height:44px; padding:20px 0 0 38px; color:#fff;}
.tx_a_price .price{float:left;font-size:30px; font-family:Arial, Helvetica, sans-serif;}
.tx_a_price .old{float:left;margin-left:17px;position:relative; padding-top:2px;}
.tx_a_price .old .em{text-decoration:line-through;}
.tx_a_price .old .zk{background:url(../images/tx_zk.gif) no-repeat 0 0; width:52px; height:23px;position: absolute; top:-22px; left:15px; text-align:center; z-index:9999;}

.tx_a_con{width:208px;margin-left:8px;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4; background:#f4f4f4; }
.tx_a_con .tx_a_btn {padding-top:15px; width:208px; height:54px; border-bottom:1px solid #e4e4e4;}
.tx_a_con .tx_a_btn a{ display:block; float:left; text-indent:-9999px;}
.tx_a_con .tx_a_btn a.btn{background:url(../images/tx_btn.gif) no-repeat 0 0; width:88px; height:40px; margin:0 11px 0 8px;}
.tx_a_con .tx_a_btn a.btn:hover{background:url(../images/tx_btn.gif) no-repeat 0 -50px;}
.tx_a_con .tx_a_btn a.add{background:url(../images/tx_add.gif) no-repeat 0 0; width:93px; height:40px;}
.tx_a_con .tx_a_time{width:208px; padding:15px 0; border-top:1px solid #fff;border-bottom:1px solid #e4e4e4;}
.tx_a_con .tx_a_time .tx_num { font-weight:bold; font-size:18px;text-align:center;width:208px;}
.tx_a_con .tx_a_time .tx_num b{ color:#ff4e8a; font-weight:bold; margin-right:5px;}
.lxftime{font-style: normal;font-weight: normal;text-align:center;width:208px;}

.tx_a_con .bz{border-top:1px solid #fff;border-bottom:1px solid #e4e4e4; padding:10px; height:70px;  overflow:hidden; width:190px; line-height:26px;} 
.tx_a_con .bz b{color:#fd8000;}
/*.tx_a_con .bz .bz1{ float:left;background:url(../images/tx_bz1.gif) no-repeat 0 0; width:102px; height:68px; border-right:1px solid #e4e4e4;}
.tx_a_con .bz .bz2{float:left;background:url(../images/tx_bz2.gif) no-repeat 0 0; width:104px; height:68px;border-left:1px solid #fff;}*/
.tx_a_r{ float:left;}
.tx_a_di{background:url(../images/tx_di.gif) no-repeat 0 0; width:693px; height:34px;padding:8px 10px 0 40px;}
.tx_a_di .favorite{ padding-top:2px;}
.tx_a_di .favorite a{color:#333; text-decoration:none;}

.tx_b{ width:709px;padding:16px; border:1px solid #d6d6d6; background:#fdfdfd; margin-top:20px;}
.tx_b h4{ font-size:14px; font-weight:normal; margin-left:13px; margin-bottom:8px;}
.tx_b p{color:#506eaa; width:691px; height:30px; line-height:30px; margin:0 2px;}
.tx_b p span{display: inline-block;overflow:hidden; height:30px;}
.tx_b p span.b1{color:#ff4e8a; width:60px;}
.tx_b p span.b2{width:60px;}
.tx_b p span.b3{width:480px;}
.tx_b p span.b4{width:80px; text-align:right;}
.tx_b p a{ width:691px; height:30px; display:block; padding-left:10px; text-decoration:none;background:#fafafa;}
.tx_b p a:hover{background:#f5f5f5;}

.tx_c{width:741px;border:1px solid #d6d6d6;border-top:none; background:#fdfdfd; margin-top:20px;}
.show_nav{background:url(../images/p_nav_bg.gif) repeat-x 0 0; width:741px; height:42px;}
.show_nav .con{ padding:1px 0; height:40px;}
.show_nav .con a{ display:block; border-right:1px solid #d6d6d6; width:100px; height:40px; line-height:42px; text-align:center; float:left; color:#2d8fc5; text-decoration:none; font-size:14px;}
.show_nav .con a:hover{background:#fafafa;}
.show_nav .con a.on{border-top:4px solid #4dc0ff; background:#fff;height:38px; color:#4d4d4d;font-weight:bold;}

.tx_view_info{padding:20px 40px;}
.tx_view_xq,.tx_view_xq p{ font-size:14px; line-height:1.8; margin:6px 0;}
.tx_view_xq .tx_tit_big{ background:#fafafa;width:660px; height:36px; border:1px solid #e7e7e7; line-height:36px; margin:15px 0;}
.tx_view_xq .tx_tit_big .con{ border:1px solid #fff;width:638px; height:34px;padding-left:20px; font-size:14px;}

.tx_address{width:660px; line-height:28px; margin:20px 0 30px 0;}
.tx_address .tx_map{ float:left; width:408px; height:206px;}
.tx_address .tx_dz{ float:right; width:230px;}

.tx_xq{width:660px; line-height:28px;}
.tx_xq .tx_tit_s{background:url(../images/tx_tit_xq.gif) no-repeat 0 0; width:640px; height:35px; padding-left:12px; line-height:30px; font-weight:bold; color:#333; margin-bottom:5px; font-size:14px;}
.tx_info_con{font-size:14px; line-height:28px;}
.tx_info_con p{ padding:4px 0;}

.tx_xq .tx_tit_ts{background:url(../images/tx_tit_ts.gif) no-repeat 0 0; width:640px; height:32px; padding-left:12px; line-height:30px; font-weight:bold; color:#333;font-size:14px; margin-top:20px;}
.tx_xq .tx_con_ts{font-size:14px; line-height:28px; background:#fff9e7; border:1px solid #edeae1; border-top:none; padding:8px 20px 10px; width:610px; color:575958; margin-bottom:20px;}
.tx_xq .tx_con_ts p{padding:4px 0 4px 10px;background:url(../images/tx_icon_li.gif) no-repeat 0 13px;}


.rc_c{width:1002px;border:1px solid #d6d6d6;border-top:none; background:#fdfdfd;}
.rc_show_nav{background:url(../images/p_nav_bg.gif) repeat-x 0 0; width:1002px; height:42px;}
.rc_show_nav .con{ padding:1px 0; height:40px;}
.rc_show_nav .con a{ display:block; border-right:1px solid #d6d6d6; width:100px; height:40px; line-height:42px; text-align:center; float:left; color:#2d8fc5; text-decoration:none; font-size:14px;}
.rc_show_nav .con a:hover{background:#fafafa;}
.rc_show_nav .con a.on{border-top:4px solid #4dc0ff; background:#f2f2f2;height:38px; color:#4d4d4d;font-weight:bold;}
.rc_search_con{background:#f2f2f2; width:942px; padding:20px 20px 10px 40px; border-bottom:1px solid #d6d6d6;}
.rc_search_con ul{ margin-bottom:10px;}
.rc_search_con ul li{float:left;width:220px;}
.rc_search_con ul li span{ margin-right:5px; width:60px; height:30px; text-align:right; display:inline-block;}
.rc_search_con ul li select{ border:1px solid #ccc;padding:2px 4px;}

.input_key{ height:40px;}
.input_key span{ width:60px; height:30px; display:inline-block; text-align:right;margin-right:10px;}
.input_key input{ width:300px; height:22px; padding:2px 4px;border:1px solid #ccc; margin-right:20px;}
.input_key .rc_btn{background:url(../images/rc_btn.gif) repeat-x 0 0; width:132px; height:32px; line-height:28px;}

.rc_list{ background:#fff; padding:20px;}
.rc_list .searchdel{width:960px;zoom:1; border-bottom:1px solid #ddd;}
.rc_list .searchdel .tit{float:left;display:inline;height:24px;line-height:24px; text-align:right;margin-right:10px;}
.rc_list .searchdel .con{float:left;display:inline;width:800px;}
.rc_list .searchdel .con a:link,.searchdel .con a:visited{display:inline-block;margin:0 15px 15px 0;border:1px solid #16b8e0;padding:1px 20px 1px 10px;background:url(../images/icon_zw_close.gif) no-repeat right top;color:#16b8e0;}
.rc_list .searchdel .con a:hover{ background-color:#e9f9fd;text-decoration:none;}
.rc_list .reset a{background:url(../images/zw_search_reset.gif) no-repeat 0 0; width:91px; height:28px; display:block;}

.rc_list_show{ width:960px;}
.rc_list_show ul{ margin:20px 0;}
.rc_list_show ul li.tit{ color:#59b8ec; font-size:14px; padding-left:49px; margin-bottom:5px;}
.rc_list_show ul li.tit span.t1{padding-left:10px; width:70px;}
.rc_list_show ul li span{ display:inline-block; text-align:center;height:30px; line-height:30px;}
.rc_list_show ul li span.t0{width:40px; text-align:left;}
.rc_list_show ul li span.t1{width:80px; text-align:left;}
.rc_list_show ul li span.t1 em{background:url(../images/icon_pic.gif) no-repeat center center; width:15px; height:11px; display:inline-block; margin-left:4px;}
.rc_list_show ul li span.t2{width:50px;}
.rc_list_show ul li span.t3{width:50px;}
.rc_list_show ul li span.t4{width:50px;}
.rc_list_show ul li span.t5{width:130px;}
.rc_list_show ul li span.t6{width:90px;}
.rc_list_show ul li span.t7{width:140px;}
.rc_list_show ul li span.t8{width:80px;}
.rc_list_show ul li span.t9{width:80px;}
.rc_list_show ul li span.t10{width:80px;}

.rc_s{width:940px;border:1px solid #d6d6d6;background:#fff; padding:30px; margin:20px 0 40px 0;}
.rc_s .rc_s_tit{width:936px;background:url(../images/rc_logo.gif) no-repeat right center; height:60px;}
.rc_s .rc_s_tit h1{font-size:30px;font-family:΢���ź�,����,sen-self;font-weight:normal;color:#000; line-height:32px; margin-bottom:10px;}
.rc_s .rc_s_con{ margin-top:20px; border-top:3px solid #333; padding-top:30px;}

.rc_s .rc_s_con h2{font-size:18px;font-family:΢���ź�,����,sen-self;font-weight:normal;color:#000; line-height:32px; border-bottom:1px solid #ddd;}
.rc_s .rc_s_con ul{ margin:20px 0; font-size:14px;}
.rc_s .rc_s_con ul li{ float:left; width:260px; height:32px; line-height:32px;color:#000;}

.rc_s .rc_s_con ul li.w900{width:900px;}

.rc_s .rc_s_con ul.xx li{ float:left; width:260px; height:32px; line-height:32px;color:#000;}
.rc_s .rc_s_con ul.xx .xxcon{float:left; width:780px;}
.rc_s .rc_s_con ul.xx .xxpic{float:right; width:150px; height:210px;}
.rc_s .rc_s_con .xxdes{width:940px; line-height:30px;color:#000; font-size:14px; padding:20px 0;}

.rc_s .rc_s_con ul.yx li{ float:left; width:350px; height:32px; line-height:32px;color:#000;}
.rc_s .rc_s_con ul.jy li{width:900px; height:auto; line-height:32px;color:#000; float:none; padding:5px 0;}
.rc_s .rc_s_con ul.jy li i{ font-style:normal; margin:0 20px; color:#eee;}
.rc_s .rc_s_con .rc_tool{ width:940px; text-align:center;}
.rc_s .rc_s_con button{padding:3px 5px; margin-right:10px;}

.tg_buy{ border:1px solid #d6d6d6; padding:20px 20px 50px; width:962px; background:#fff;}
.buy_nav{ border-bottom:1px solid #eaeaea; width:960px; overflow:hidden; padding:10px 0 20px;}
.buy_process_h{ float:left; color:#777; font-size:24px; font-family:"΢���ź�"; font-weight:bold; line-height:40px;}
.buy_process_h span{ color:#ff668f;}
.buy_process {float:right;}
.buy_process ul{ padding-top:6px;}
.buy_process ul li{float:left; color:#666; width:240px; text-align:center; line-height:30px; background:#f5f5f5;}
.buy_process ul li.current{color:#fff;background:#ff668f url(../images/current_triangle.gif) no-repeat right 0;}
.buy_process ul li.no_current{color:#666;background:#f5f5f5 url(../images/no_triangle.gif) no-repeat right 0;}
.buy_process ul li.no_current1{color:#666;background:#f5f5f5 url(../images/triangle.gif) no-repeat right 0;}

.order_details{ border:1px solid #dedede; padding:10px;}
.order_details h2{ font-size:14px;}
.order_details ul{ margin-bottom:10px;}
.order_details ul li i{ margin:0 20px;}
.payable_money{}
.payable_money{margin-top: 10px;font-size: 14px;font-weight:700;color: #333;}
.payable_money strong{padding-left: 8px;color: #ff5f80;}



.my_shoppingC,.shoppingC_img_bg,.order_pay input,.reducing_num,.add_num{background: url(../images/shopping-cart123927.png) no-repeat;}
.reducing_num,.add_num{display: inline-block;width: 13px;height: 13px;vertical-align: middle;text-indent: -9em;overflow: hidden;*text-indent: 0;*line-height: 50px;}
.reducing_num{background-position: -168px -230px;}
.reducing_num:hover{background-position: -196px -230px;}
.reducing_num,.add_num{display: inline-block;width: 13px;height: 13px;vertical-align: middle;text-indent: -9em;overflow: hidden;*text-indent: 0;*line-height: 50px;}
.add_num{background-position: -168px -216px;}
.add_num:hover{background-position: -196px -216px;}
.num_box{width: 55px;height: 26px;padding:5px 0;line-height: 26px;font-size:22px;font-family:Tahoma;color:#000;text-align:center;border: 1px #dcdcdc solid;vertical-align: middle;}
.c_prompt{color:#ff4d88;text-align: left;padding-left: 30px;}
.order_pay{float: right;display: inline;margin-top: 30px;}
/*.shopping_cart .order_pay input{width:160px;height:44px;line-height:42px;border: 1px #f44d7e solid;border-radius: 2px;background: #ff668f;font-size: 14px;color: #fff;box-shadow: inset 0 0 0 1px #ff85a5;text-shadow:-1px 1px 0 #de597c;cursor:pointer;}*/
.order_pay input{width: 155px;height: 35px;background-position: 0 -217px;border: none;text-indent: -999em;cursor: pointer;display: block;}

.shoppingC_list{border: 1px #dde8ee solid; border-bottom:none;margin-top: 25px;width: 100%;color: #333;}
.shoppingC_list .highlight td{background-color: #eaf1f5;}
.shoppingC_list div.highlight_border{border-color: orangered;}
.shoppingC_list th,.shoppingC_list td{border-bottom: 1px #dde8ee solid;}
.shoppingC_list td{padding: 10px 0;}
.shoppingC_list .no_border{border: none;border-bottom: 1px #fff solid;}
.shoppingC_list th{height:33px;background: #f7fbfd;color: #666;}
#checkAll{vertical-align: bottom;margin-right: 4px;}
.shoppingC_list .goods_name{padding: 12px 12px 12px 0;text-align: left;}
.shoppingC_list .goods_name img{float: left;display: inline-block;margin-right: 12px;width: 100px;height: 60px;}
.shoppingC_list .goods_name strong{vertical-align: middle;font-weight: 500;}
/*.shoppingC_list .need_invoice{display: block;}
.shoppingC_list .need_invoice input{vertical-align: bottom;}*/
.shoppingC_list .choose_type_num{display:inline-block;width:144px;padding:6px;border: 1px solid #b2c8e0;border-radius: 2px;
	background: #ecf5fb;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f7fd), to(#d6e7f1));
    background-image:-moz-linear-gradient(top,#f0f7fd,#d6e7f1);
    background-image:-o-linear-gradient(top,#f0f7fd,#d6e7f1);
    background-image:-ms-linear-gradient(top,#f0f7fd,#d6e7f1);
    box-shadow: inset 0 1px 0 0 #fff;
    color: #5c5c5c;
    text-shadow:1px 1px 0 #fff;
    cursor: pointer;
}
.shoppingC_list .dp_block{display: block;color: #888;}
.shoppingC_list .voucher_use{display: block;}
.shoppingC_list .price_count{padding: 20px 32px 20px 0;text-align: right;font-weight: 700;color: #666;}
.shoppingC_list .price_count strong{color: #ff4b7b;font-size: 14px;}

.shoppingC_list .restriction{font-weight: 500;}
.shoppingC_list .restriction i{font-style: normal;color: #ff4d88;}

.shoppingC_list .no_border input,.shoppingC_list .check_hidden label{display: none;}

.zhifubao_icon,.mobile_payment_icon,.lakala_icon,.zhaoshang_icon,.gongshang_icon,.jianshe_icon,.jiaotong_icon,.nongye_icon,.pufa_icon,.mingsheng_icon,.shenfa_icon,.zhongguo_icon,.zhongxin_icon,.xingye_icon,.guangda_icon,.guangfa_icon,.caifutong_icon,.chongqing_icon,.chongqing_card_icon,.bank_choose p,.payment_btn input,.pay_prompt h3,.pay_prompt .success,.pay_prompt .fail{background: url(../images/payment_icon1132034.png) no-repeat;}
.error_icon{background: url(../images/evaluate_bgImg81157.png) no-repeat;}


.payment_way{margin-top:10px;border: 1px solid #dde8ee;}
.payment_way h2{height: 32px;line-height:32px;padding:0 15px;font-weight:700;background: #f7fbfd;color: #666;}
.payment_way .item{padding:10px 20px;border-top: 1px solid #dde8ee;}
.payment_way .item h3{font: 700 14px serif;}
.payment_way .platform_payment_way,.payment_way .other_payment_way{padding: 20px 0 10px 20px;}
.payment_way .platform_payment_way label,.payment_way .other_payment_way label{display:inline-block;width: 220px;}
.payment_way input{margin:0;vertical-align: middle;}
.payment_way .other_payment_way label.lakala{width: 365px;}
.payment_way .other_payment_way label.lakala .lakala_prompt{display: none;color: #f75d7c;}
.payment_way label{position: relative;}
.payment_way .t_prompt{display: none;height: 30px;padding:0 10px;line-height: 30px;border: 1px solid #acc5de;background-color:#f7fbfd;position: absolute;left: 65px;top:28px;white-space:nowrap; }
.payment_way .other_payment_way .t_prompt{left:75px;}
.payment_way .t_prompt em,.payment_way .t_prompt i{display:block;width: 0;height: 0;overflow: hidden;border-width:0 6px 6px;border-style:solid dashed;border-color:#acc5de transparent;position: absolute;}
.payment_way .t_prompt em{top: -6px;left:30px;}
.payment_way .t_prompt i{border-color:#f7fbfd transparent;top: -5px;left:30px;}

.zhifubao_icon,.mobile_payment_icon,.lakala_icon,.caifutong_icon{display: inline-block;height: 22px;vertical-align: middle;margin: 0 10px;text-indent: -99em;overflow: hidden;cursor: pointer;}
.zhifubao_icon{width: 112px;background-position: 0 -335px;}
.caifutong_icon{width:60px;background-position:0 -368px;}
.mobile_payment_icon{width: 126px;background-position: 0 -400px;}
.lakala_icon{width: 63px;background-position: 0 -432px;}

.payment_way .bank_list{height:80px;margin:10px 10px 10px 20px;overflow: hidden;position: relative;}
.payment_way .bank_list label{float: left;width: 144px;margin-top: 16px;cursor: pointer;}
.payment_way .bank_list span{display: inline-block;width:114px;text-indent: -999em;height: 22px;margin-left: 5px;vertical-align: middle;overflow: hidden;}
.payment_way .bank_list p strong{float:left;line-height:22px;margin:16px 5px 0 0}
.payment_way .zhaoshang_icon{background-position: -15px -78px;}
.payment_way .gongshang_icon{background-position: -15px -2px;}
.payment_way .jianshe_icon{background-position: -15px -51px;}
.payment_way .jiaotong_icon{background-position: -15px -102px;}
.payment_way .nongye_icon{background-position: -15px -26px;}
.payment_way .pufa_icon{background-position: -14px -129px;}
.payment_way .mingsheng_icon{background-position: -15px -154px;}
.payment_way .shenfa_icon{background-position: -15px -178px;}
.payment_way .zhongguo_icon{background-position: -15px -201px;}
.payment_way .zhongxin_icon{background-position: -15px -226px;}
.payment_way .xingye_icon{background-position: -13px -252px;}
.payment_way .guangda_icon{background-position: -15px -278px;}
.payment_way .guangfa_icon{background-position: -13px -303px;}
.payment_way .chongqing_icon{background-position: -13px -648px;}
.payment_way .chongqing_card_icon{background-position: -13px -675px;}
.payment_way .more_bank a{display: inline-block;position: relative;}
.payment_way .more_bank a:hover{text-decoration: none;}
.payment_way .more_bank a i {width: 0;height: 0;overflow: hidden;border: 5px solid #f7fbfd;border-top: 5px solid #0b72a4;position: absolute;right: -14px;top: 6px;}
.payment_way .btn{padding: 20px 0 30px 90px;}
.payment_way_error{width:600px;margin:10px 0 0;padding-left: 22px;background-position: -230px 2px;color: #cc0000;}

.payment_btn a{float: left;display:inline;padding-top:19px;margin: 10px 10px 0;}
.payment_btn input{width:112px;height:35px;float: right;background-position: 0 -465px;border: none;margin-top: 20px;text-indent: -999em;cursor: pointer;}

.login{width:1002px;border:1px solid #d6d6d6;border-top:none; background:#fff;}
.login_nav{background:url(../images/login_nav_bg.gif) repeat-x 0 0; width:1002px; height:42px;}
.login_nav .con{ padding:1px 0; height:40px;}
.login_nav .con span{ display:block; border-right:1px solid #d6d6d6; width:100px; height:40px; line-height:42px; text-align:center; float:left; text-decoration:none; font-size:14px;border-top:4px solid #4dc0ff; background:#fff;height:38px; color:#4d4d4d;font-weight:bold;}

.login_m{width:922px;padding:40px;}
.login_m .login_l{ padding:20px;}

.login_l ul li{zoom:1;margin-bottom:15px;}
.login_l ul li:after{content:'.';display:block;height:0;visibility:hidden;clear:both}
.login_l ul li em{width:90px;display:inline-block;text-align:right;font-size:14px;line-height:35px; vertical-align:middle;height:32px;}
.login_l ul li em{ width:90px;}




.login_l ul li input{margin-top:7px;height:32px;line-height:20px;font-size:14px;border:1px solid #ccc;display:inline-block;padding-left:5px;width:250px;}
.login_l ul li input.yzm{width:120px;}
.login_l ul li span{display:inline-block; color:#1d8dcb; margin-left:5px;vertical-align:middle;height:32px;line-height:35px;}
.login_l a.login_btn,input.login_btn{display:block; text-align:center;background:url(../images/login_btn.png) repeat-x 0 0; width:72px; height:35px; margin-left:90px; margin-top:15px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}
.login_l a.login_btn:hover,.login_l input.login_btn:hover{background:url(../images/login_btn.png) repeat-x 0 -35px;}

.login_l .autoLogin{margin-left:90px;}
.login_l .autoLogin label{line-height:20px;}
.login_l .autoLogin label input{vertical-align:middle;margin-right:4px;}

.login_l .login_error{display:inline-block;height:32px;line-height: 32px;padding-left:15px;color:red} //lzh add


.yw ul li em{ width:200px;}
.yw a.login_btn{margin-left:200px;}
.yw .autoLogin{margin-left:90px;}

.login_r{ padding-right:100px; padding-top:25px;}
.login_yw{ padding-right:50px;}
.login_r p{ color:#000; font-size:14px; margin-bottom:15px;}
.login_r p a{ color:#333; font-size:14px;text-align:center; line-height:35px; width:102px; height:35px; display:block; text-decoration:none;}
.login_r p a.side_reg_btn{background:url(../images/side_reg_btn.png) no-repeat 0 0;}
.login_r p a.side_reg_btn:hover{ background-position:0 -35px;}

.login_l ul li.getpw span{color:#999; font-size:14px;}
.login_l ul li.reg span{color:#999; font-size:14px;}
.login_l ul li.reg i{color:#f00;}

.u_main{width:730px;overflow:hidden;border:1px solid #d6d6d6;border-top:none; background:#fff; padding-bottom:10px;}
.u_nav{background:url(../images/p_nav_bg.gif) repeat-x 0 0; width:728px; height:42px;}
.u_nav .con{ padding:1px 0; height:40px;}
.u_nav .con a{ display:block; border-right:1px solid #d6d6d6; width:100px; height:40px; line-height:42px; text-align:center; float:left; color:#4d4d4d; text-decoration:none; font-size:14px;}
.u_nav .con a:hover{background:#fafafa;}
.u_nav .con a.on{border-top:4px solid #4dc0ff; background:#fff;height:38px; color:#4d4d4d;font-weight:bold;}
.u_nav2{ width:680px; margin:20px;}
.u_nav2 a{ display:block; padding:0 10px; height:24px; line-height:24px; text-align:center; float:left; color:#0b72a4; text-decoration:none; font-size:12px; margin:0 5px;}
.u_nav2 a:hover{background:#fafafa;}
.u_nav2 a.on{height:24px;color:#fff;background:#0b72a4;}


.module_table{width:700px;border: 1px solid #d9d9d9;margin:15px;text-align: center;}
.module_table th{height:32px;background-color: #f6f6f6;border: 1px solid #d9d9d9;}
.module_table td{padding:15px 10px;border: 1px dotted #d9d9d9;}
.module_table td span{ margin:0 20px;}

.order_list .order_list_img{float:left;display:inline;width: 81px;height: 49px;margin-top: 3px;}

.order_list .order_list_img img{width: 81px;height: 49px;}
.order_list .order_list_txpic{float:left;display:inline;height:105px;margin-top: 3px;}
.order_list .order_list_txpic img{width: 75px;height: 105px;}
.order_list .order_list_title{float:left;width:140px;height: 54px;padding-left: 10px;text-align: left;overflow: hidden;}
.order_list .order_list_title h2{height:54px;display:table-cell; vertical-align:middle; font-size:12px; font-weight:normal}
.order_list .order_list_title h2 span{width:0;height:100%;display:inline-block;vertical-align:middle;}
.order_list .order_list_title h2 a{display:inline-block;vertical-align:middle;color: #585858;}
.order_list .order_list_title h2 a:hover{text-decoration: none;}
.order_list i{font-style: normal;display: block;color: #b1b1b1;}
.order_list .details_link a,.order_list .order_state{display: block;}
.d_block{display: block;padding: 2px 0;}
.order_list .order_state{padding-bottom: 10px;}
.order_list .operate_btn{width: 48px;margin-bottom:10px;}
.order_list .c_white{color: white;}
.order_prompt{padding:0 0 10px 20px;}
.order_list .get_nmq,.order_list .print_upload{margin: 0 5px;}
.order_list .evaluate_edit{display:inline-block;height:16px;padding-left:22px;background-position: 0 -184px;color: #0b72a4;}
.order_list .evaluate_edit:hover{text-decoration: none;}
a.pink_btn_new{display: inline-block;width:85px;height:21px;line-height:21px;color:#fff;text-align:center;border: 1px solid #fc668f;background-color: #fa5d82;box-shadow: inset 0 0 0 1px #fb7595;*border:none; text-decoration:none;}



.order_details_title{margin: 16px 10px 0;padding:0 20px;border-bottom: 1px solid #d9d9d9;}
.order_details_title strong{float: left;font: 22px/40px "Microsoft YaHei","SimHei";}
.order_details_title a{float: right;padding-top: 15px;}
.order_details_state{margin: 10px;border: 1px solid #efefef;background-color: #f7fbfd;}
.order_details_state .state_title{padding: 12px 20px 8px;font-size: 14px;}
.order_details_state .state_title .c_55b111{color: #55b111;}
.order_details_state .x_state_title{background-color: #fffcf4;}
.order_details_state .x_state_title span{margin-left:30px;font-size: 12px;color: #8e8e8e;}
.order_details_state .order_details_fn{padding: 14px 20px;border-top: 1px dotted #d9d9d9;}
.order_details_state .order_details_fn .delete_order{display:inline-block;margin-left: 22px;font-weight: 700;}
.order_details_state .evaluate span{margin-left:10px;color: #949494;}
.order_details_state .evaluate span b{padding:0 5px;color: #ff1f5d;font: 18px Tahoma;}
.order_details_state .evaluate ul li{padding:5px 0;overflow: hidden;zoom:1;}
.order_details_state .evaluate ul div{float: left;}
.order_details_state .evaluate ul .evaluate_title{width:46px;font-weight: 700;}
.order_details_state .evaluate ul .evaluate_ct{width:594px;position: relative;}
.order_details_state .evaluate ul .evaluate_ct p{width: 470px;color: #747474;}
.order_details_state .evaluate ul .evaluate_ct .evaluate_btn{position: absolute;right: 0;bottom: 0;}
.order_details_list{margin:10px;border-top: 1px solid #d9d9d9;}
.order_details_list .item{border: 1px solid #d9d9d9;border-top: none;}
.order_details_list h2{height: 34px;padding: 0 20px;border-bottom: 1px dotted #d9d9d9;font: 700 14px/34px serif;background-color: #f6f6f6;position: relative;}
.order_details_list h2 .edit_dispatching{font:500 12px/34px serif;position: absolute;right: 15px;}
.order_details_list h2 .edit_dispatching:hover{text-decoration: none;}
.order_details_list ul{padding: 10px 20px;}
.order_details_list ul li{padding:3px 0;}
.order_details_list .order_infor li{float:left;width:320px;}
.order_details_list .wuliu_infor li{overflow: hidden;zoom:1;}
.order_details_list .wuliu_infor i{float:left;width:65px;font-style: normal;}
.order_details_list .wuliu_infor .copy_waybill_code{margin-left: 20px;}
.order_details_list .wuliu_infor .wuliu_follow{float:left;width: 560px;}
.order_details_list .wuliu_follow li{padding: 0 0 5px 0;}
.order_details_list .nmq_list{}
.order_details_list .nmq_list .used{color: #949494;}
.order_details_list .more_nmq_list{padding:10px 20px;border-top: 1px dotted #d9d9d9;}
.order_details_list .more_nmq_list i{margin: 0 5px;font-style: normal;color: #ff4d89;}
.order_details_list .more_nmq_list a{margin: 0 5px;}
.order_details_list table{width: 100%;font-size: 12px;}
.order_details_list table th,.order_details_list table td{padding: 10px;text-align: left;}
.order_details_list table td{border-top:1px dotted #d9d9d9;}
.order_details_list table i{font-style: normal;color: #8e8e8e;}
.order_details_list table .padding20{padding-left: 20px;}
.order_details_list .pay_infor{padding:8px 20px 10px;background-color: #fffcf4;border-top: 1px dotted #d9d9d9;}
.order_details_list .pay_infor .b_v{float: left;color: #8e8e8e;padding-top: 5px;}
.order_details_list .pay_infor .b_v i{color: #585858;font-style: normal;margin-right: 20px;}
.order_details_list .pay_infor .amount{float: right;padding-right: 50px;}
.order_details_list .pay_infor .amount b{font-size:18px;color: #ff4d88;}

ul.jl_xq{ width:658px; margin:15px; font-size:14px;border: 1px dotted #d9d9d9; padding:20px;}
ul.jl_xq li{ padding:5px 0;line-height:30px;}
ul.jl_xq li b{ font-weight:normal; color:#333; width:100px; text-align:right; display:inline-block; margin-right:10px;}
ul.jl_xq li input{ padding:2px 5px; height:26px; line-height:26px; border:1px solid #d9d9d9;}
ul.jl_xq li.text b{ vertical-align:top;}
ul.jl_xq li.text textarea{border:1px solid #d9d9d9; width:400px; height:120px; padding:5px;}

ul.jl_xq li input.w500{width:500px;}

.lbtn .submit_btn{display:block;background:url(../images/login_btn.png) repeat-x 0 0;  width:72px; height:35px; margin-left:110px; margin-top:15px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}
.my_des{width:640px; margin:20px; font-size:14px;border: 1px dotted #d9d9d9; padding:20px;}
.my_des textarea{ width:600px; margin-left:20px; height:300px;}
.submit_btn{display:block; text-align:center;background:url(../images/login_btn.png) repeat-x 0 0; width:72px; height:35px; margin:0 auto; margin-top:15px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}


.evaluate_edit{background: url(../images/icon_bg118718.png) no-repeat;}

.balance_operate,.voucher_activate{margin: 0 15px;padding: 25px 10px 10px;border-bottom: 1px dotted #d9d9d9;}
.balance_operate .my_balance{font: 700 14px serif;margin-right: 40px;}
.balance_operate .my_balance b{display:inline-block;font: 30px/32px Arial;color: #ff4d88;vertical-align: bottom;}
.balance_operate a{width: 74px;height: 26px;font: 14px/26px serif;margin-right: 10px;vertical-align: text-bottom;}
.balance_operate .gray_btn_new{color: #333;}
.balance_record_list .txt_left{padding: 15px 30px;}
.zh_jl{margin: 0 15px;padding: 25px 10px 10px; font-weight:bold;}

a.green_btn{display:inline-block;width:74px;height:26px;line-height:26px;color:#fff;text-align:center;border:1px solid #88c959;background-color: #55b111;box-shadow: inset 0 0 0 1px #88c959;font-size: 14px; text-decoration:none;}


.yw_jl{width:900px;border: 1px solid #d9d9d9;margin:15px auto;text-align: center;}
.yw_jl th{height:32px;background-color: #f6f6f6;border: 1px solid #d9d9d9;}
.yw_jl td{padding:15px 10px;border: 1px dotted #d9d9d9;}
.yw_jl td span{ margin:0 20px;}


.ss_list{ width:900px; margin:0 auto;}
.ss_list_con{width:900px;font-size:12px;border:1px solid #d9d9d9; margin-bottom:20px; }
.ss_list_con .ss_tit{height:30px;background:#6699ff; padding:0 10px; color:#000; line-height:30px;}
.ss_list_con .ss_des{padding:10px;}
.ss_list_con .bc666{ background:#666; color:#fff;}
.ss_text{ width:600px; margin:0 auto;}
.ss_text .ss_text_tit{ font-size:14px; font-weight:bold; padding-bottom:10px;}
.ss_text .ss_text_des textarea{ width:580px; height:100px; padding:10px; border:1px solid #dedede;}
.ss_text .ss_text_btn input{display:block;background:url(../images/login_btn.png) repeat-x 0 0;  width:72px; height:35px; margin:0 auto; margin-top:15px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}



.page_main{text-align:left; padding:20px 25px;}
.page_main .page_con p{margin:15px 0; font-size:14px; line-height:2;}
.page_other{ text-align:center;}
.page_other h1{ font-size:22px; line-height:2;}
.page_other span{ margin:0 10px; color:#aaa;}
.order_sucess{padding:20px 10px 10px; font-size:14px; min-height:200px;}
.order_sucess p{ font-size:14px; line-height:40px;}
.foot_item{ padding-top:35px; text-align:center;}
.foot_item a{ margin:0 2px;}
 
.page_main{text-align:left; padding:20px 25px;}
.page_main p{margin:15px 0; font-size:14px; line-height:2;}
.list_main{text-align:left; padding:20px 25px; font-size:14px;}
.list_main .list ul{ width:680px;}
.list_main .list ul li{ width:680px;line-height:40px; height:40px; border-bottom:1px dashed #eee;}
.list_main .list ul li a{ display:block; float:left; width:500px;}
.list_main .list ul li span{display:block; float:right; width:80px; color:#aaa;}

.my_pl{width:620px; margin:20px; font-size:14px;border: 1px dotted #d9d9d9; padding:25px 30px;}
.my_pl p{ margin:10px 0;}
.my_pl textarea{ width:540px; margin-left:20px; height:120px; padding:10px;}

.t_side .t_side_news{border:1px solid #eaeaea; width:240px; background:#fff; margin-bottom:15px;}
.t_side .t_side_news .t_side_news_tit{background:url(../images/t_side_news.gif) no-repeat 0 0;width:240px; height:35px;}
.t_side .t_side_news ul{ border-top:1px solid #eaeaea; padding:6px 15px; width:210px;}
.t_side .t_side_news ul li{ border-bottom:1px solid #eaeaea; font-size:14px; height:32px; line-height:32px;}
.t_side .t_side_news ul li a{ display:block; float:left; width:155px; height:32px; overflow:hidden; color:#595959;}
.t_side .t_side_news ul li span{ display:block; float:right; margin-left:5px; color:#aaa;}
.t_side .t_side_news ul li.no{ border:none;}

.rc_s .rc_s_gm{ margin-top:20px; border-top:3px solid #333; padding-top:30px;}
.rc_s_gm ul{ padding:20px 20px 15px;}
.rc_s_gm ul li{zoom:1;margin-bottom:15px;}
.rc_s_gm ul li em{width:90px;text-align:right;font-size:14px;line-height:35px; vertical-align:middle;height:32px;}
.rc_s_gm ul li input{margin-top:7px;height:32px;line-height:20px;font-size:14px;border:1px solid #ccc;padding-left:5px;width:250px;}
.rc_s_gm ul li i{color:#f00;}
.rc_s_gm a.login_btn{display:block; float:left; text-align:center;background:url(../images/login_btn.png) repeat-x 0 0; width:72px; height:35px; margin-left:90px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}
.rc_s_gm a.login_btn:hover{background:url(../images/login_btn.png) repeat-x 0 -35px;}
.rc_s_gm a.back{ float:left;display:block; text-align:right; width:100px; line-height:50px; text-decoration:underline;}

.payment_way .payinfo{ margin-top:20px; border-top:3px solid #333; padding-top:30px;}
.payinfo ul{ padding:20px 20px 15px;}
.payinfo ul li{zoom:1;margin-bottom:15px;}
.payinfo ul li em{width:90px;text-align:right;font-size:14px;line-height:35px; vertical-align:middle;height:32px;}
.payinfo ul li input{margin-top:7px;height:32px;line-height:20px;font-size:14px;border:1px solid #ccc;padding-left:5px;width:160px;}
.payinfo ul li input.address{ width:350px;}
.payinfo ul li i{color:#f00;}


/*商品评论*/
.evaluate{color: #5c5c5c;}
.evaluate_module{margin:18px 0 0}
.evaluate_module h2{border: 1px #dde8ee solid;background: #f1f6f9;height: 34px;line-height: 34px;padding: 0 16px;overflow: hidden;zoom:1; font-size:12px;}
.evaluate_module .allEvaluate .title{float: left;}
.evaluate_module .allEvaluate .sort{float: right;padding: 0 10px;font-weight: 0;_margin-top: 10px}
.evaluate_module .allEvaluate .sort a:hover{text-decoration: none}
.evaluate_module .allEvaluate .sort_default{border-right: 1px solid #E1E1E1;padding: 0 10px}
.evaluate_module .allEvaluate .sort_time{padding: 0 10px}
.evaluate_module .allEvaluate .sort_time_icon{display: inline-block;height: 12px;width: 12px;vertical-align: middle;background-position: -97px -468px;margin-right: 5px}
.evaluate_module .allEvaluate .current_sort{cursor: default;font-weight: bold;color: #555555}
.evaluate_module .allEvaluate .current_sort .sort_time_icon{background-position: -112px -468px}
.evaluate_module .evaluate_infor{padding: 12px;border: 1px #dde8ee solid;border-top:none;}
.evaluate_module .no_comment{padding: 40px 0;text-align: center;}
.evaluate_module .mg_fl{float: left;width: 440px;}
.evaluate_infor .grade_size{width:300px;float:left;text-align:center;padding-top:26px;}
.evaluate_infor .grade_size p strong{color:#ff5c7e;font-size: 42px;font-family: Arial;}

.evaluate_infor .grade_state{width:320px;float: left;border-left: 1px #dde8ee dashed;}
.evaluate_infor .grade_state .g_statistics{height: 76px;padding-top: 25px;}
.evaluate_infor .grade_state p{text-align: center;line-height: 22px;}
.evaluate_infor .grade_state p strong{color: #fa5d82;margin: 0 2px;}
.evaluate_infor .grade_state ul{width: 190px;margin:0 auto;}
.evaluate_infor .grade_state ul li{overflow: hidden;zoom:1;}
.grade_state ul li em,.grade_state ul li span,.grade_state ul li font{display: inline;float: left;line-height: 26px;}
.grade_state ul li em{width: 50px;}
.grade_state ul li span{height:10px;overflow:hidden;background: #ffaebe;margin: 8px 0;padding-left: 1px;}
.grade_state ul li font{margin-left: 4px;}

.evaluate_list{padding-bottom: 20px;border: 1px #dde8ee solid;border-top: 0;}
.evaluate_list li{padding: 20px 16px;border-bottom: 1px #dde8ee dashed;}
.evaluate_list li .ei_top{overflow: hidden;zoom:1;color: #8e8e8e;}
.evaluate_list li .ei_top div{float: left;line-height: 18px;}
.evaluate_list li .ei_top div em{margin-left: 20px;}
.evaluate_list li p{padding: 6px 0;}

.grey_star,.grey_star .check_star,.grade_star{background:url(../images/evaluate_bgImg81157.png) no-repeat;}
.grey_star{width:85px;height:18px;margin:0 auto;background-position: -85px -74px;}
.grey_star .check_star{height:18px;background-position: 0 -74px;}
.evaluate .evaluate_module .star_fr{float:right;}
.grade_star{width:85px;height:18px;margin:0 auto;background-position: -85px -74px;}
.gsa0{background-position: -85px -74px;}
.gsa1{background-position: -68px -74px;}
.gsa2{background-position: -51px -74px;}
.gsa3{background-position: -34px -74px;}
.gsa4{background-position: -17px -74px;}
.gsa5{background-position: 0 -74px;}

.post_star{ height:40px; margin-left:20px; margin-top:20px;}
.post_star input{ float:left; margin-top:3px;}
.post_star .ps_star{ width:115px; height:20px;float:left;}

